#alvin-mug {
background-image: url('/images/alvin.png');
}

#ed-mug {
background-image: url('/images/ed.png');
}

#matt-mug {
background-image: url('/images/matt.png');
}

#ken-mug {
background-image: url('/images/ken.png');
}

#slava-mug {
background-image: url('/images/slava.png');
}

#enigma-mug {
background-image: url('/images/alvin.png');
}

.profile-circular {
float: right;
width: 100px;
height: 100px;
border:2px solid #fff;
background-size: cover;
display: block;
border-radius: 50px;
-webkit-border-radius: 50px;
-moz-border-radius: 50px;
}