#name .profile-circular {
position: fixed;
top: 0;
right: 0;	
width: 100px;
height: 100px;
background-image: url('/images/alvin.png');
background-size: cover;
display: block;
border-radius: 50px;
-webkit-border-radius: 50px;
-moz-border-radius: 50px;
}